<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant On Map</title>
    <script src="https://cdn.plot.ly/plotly-2.30.1.min.js" charset="utf-8"></script>
</head>
<body>
    <header>
        <nav>
            <ul>

                <li><a href="{{ url_for('restaurant_comparison') }}">Restaurant Comparison</a></li>
                <li><a href="{{ url_for('restaurant_on_map') }}">Restaurant on Map</a></li>
                <li><a href="{{ url_for('restaurant_recommendation') }}">Restaurant Recommendation</a></li>
            </ul>
        </nav>
    </header>

    <h1>Restaurant On Map</h1>
    <form action="{{ url_for('restaurant_on_map') }}" method="post">
        <label for="state">Select State:</label>
        <select name="state" id="state">
        <option value="karnataka"> Karnataka </option>
        </select><br><br>
        <label for="city">Select City:</label>
        <select name="city" id="city">
            <option value="Bangalore"> Bangalore</option>
        </select><br><br>
        <label for="loc">Choose Locality</label>
        <select name="loc" id="loc">
            {% for loc in loc_list %}
            <option value="{{ loc }}" >{{ loc }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Submit</button>
    </form>

    <h2> Restaurant in {{locality}} on basis of price range</h2>
    <div id="cost-comparison">
        {{map1_html | safe}}
    </div>

    <h2>Average Cost for Two Comparison </h2>
    <div id="rating-comparison">
        {{map2_html | safe}}
    </div>

</body>
</html>